@use 'material/variables' as *;
@use 'common/mixins' as *;

// Root application component styling
:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--md3-color-background);
  color: var(--md3-color-on-background);
}
