@use 'material/variables' as *;
@use 'common/mixins' as *;

// Root application component styling
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--md3-color-background);
  color: var(--md3-color-on-background);
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

